.App {
  min-height: 100vh;
  background-color: #f1f5f5;
}

.App__container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 30px;
}

.App-header {
  color: white;
  margin-top: 0;
}

.App__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.App__section-col {
  box-sizing: border-box;
  padding: 25px;
  box-shadow: 0 10px 8px rgba(0,0,0,.2);
  margin-bottom: 25px;
}

@media screen and (min-width: 900px) {
  .App__section-col {
    max-width: 46%;
    flex-grow: 1;
  }
}
